* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
  
  nav a:hover {
    color: #00bfff;
  }
  
  .hero {
    background-color: #f2f2f2;
    padding: 100px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .hero a {
    background-color: #00bfff;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .hero a:hover {
    background-color: #fff;
    color: #00bfff;
  }
  
  .work-space {
    text-align: center;
    margin: 100px 0;
  }
  
  .work-space h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .work-space p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .work-space img {
    max-width: 100%;
    height: auto;
  }

  /* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Footer Paragraph Styles */
footer p {
  margin: 0; /* Remove default margin for paragraphs in the footer */
}

/* Footer Link Styles */
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

.work-space .image-container {
  position: relative;
  max-width: 100%;
}

.work-space .overlay-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #484744;
}

  